/* 
@author Grace Bero
index.css

This is a CSS file that contains the styles for the index (home) page of the website
index.html will get styles from this file
*/

/* Header */
#degree {
    margin-top: -50px;
}

/* Column based items */
.parent {
    display: flex;
    gap: 1px; /* Adds space between children */
}

.child {
    flex: 1; /* Ensures children take up equal space, can be adjusted as needed */
}

/* Recent Project Sections */
#recent-project {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #dcdcdc; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add spacing inside the box */
    margin: 20px 0; /* Add vertical spacing around the box */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
}

#recent-project-text {
    align-items: flex-start;
}

#wesley img {
    width: 300px;
    height: auto;
    object-fit: cover; /* Ensures the image fits nicely */
}

/* About me Sections */
#about-me-text {
    align-items: flex-start;
}

#headshot img {
    width: 200px; /* Adjust width for the oval shape */
    height: 250px; /* Adjust height for the oval shape */
    border-radius: 50%; /* Creates an oval because width and height differ */
    object-fit: cover; /* Ensures the image fits nicely */
}

/* Courses section */
#courses {
    display: flex; /* Use flexbox for columns */
    justify-content: space-between; /* Space out the children */
    gap: 20px; /* Add gap between columns */
    text-align: center;
}

u1 {
    text-align: left;
    font-size: 1.3em;
}

#current {
    background-color: #6a7b99; /* Light gray background */
    border: 1px solid #303848; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add spacing inside the box */
    padding-top: 0; /* Remove top padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */  
}

#past {
    background-color: #BF9268; /* Light gray background */
    border: 1px solid #856649; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add spacing inside the box */
    padding-top: 0; /* Remove top padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for depth */
}

#skills img {
    width: 100px; /* Set the desired width */
    height: 100px; /* Maintain aspect ratio */
}


