/** Navigation Bar Styling *******************************************/
body {
  text-align: center;
  background-color: #BF9268;
  font-family: Cambria;
}

/* Add a black background color to the top navigation */
.button-container button {
  padding: 10px 20px; /* Add padding to make buttons more clickable */
  background-color: #303848; /* NaVY background color */
  color: white; /* White text color */
  border: none; /* Remove border */
  border-radius: 5px; /* rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Add smooth transition effect */
  margin: 0 10px;
}

/* Hover effect */
.button-container button:hover {
  background-color: #5f6a81; /* Lighter blue color on hover */
}

body {
  text-align: center;
  background-color: #BF9268;
  font-family: Cambria;
}